.about{
    &__prev{
        background-image: url('../images/about-bg.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
    }
    &__prev-title{
        color: $black;
        @extend %title-font;
        font-size: 54px;
        line-height: 8px;
    }
    &__content{
        padding: 130px 0 40px;
    }
    &__title{
        color: $black;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 22px;
        padding-bottom: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 1px;
            background-color: #6D7278;
        }
    }
    &__text{
        padding-left: 284px;
        p{
            margin-bottom: 30px;
        }
    }
    &__popup{
        background-image: url('../../images/popup-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 414px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}