.contact{
    padding-bottom: 100px;
    &__title{
        color: $black;
        @extend %title-font;
        font-size: 32px;
        left: 60px;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 40px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 2px;
            background-color: #6d7278;
        }
    }
    .contact__social{
        padding-left: 284px;
        display: flex;
        margin-bottom: 20px;
    }
    &__social-item + .contact__social-item {
        padding-left: 40px;
    }
    &__box{
        padding-left: 284px;
    }
    &__text{
        margin-bottom: 10px;
    }
    &__city{
        margin-bottom: 16px;
    }
    &__form{
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-input{
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px;
        width: 48%;
        outline: none;
        &::placeholder{
            font-weight: 400;
            color: #a1a1a1;
            font-size: 16px;
            line-height: 27px;
        }
    }
    &__form-area{
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        padding: 6px 17px;
        min-height: 125px;
        margin-bottom: 20px;
        outline: none;
        resize: none;
        &::placeholder{
            font-weight: 400;
            color: #a1a1a1;
            font-size: 16px;
            line-height: 27px;
        }
    }
    &__form-btn{
        color: #FFFFF0;
        border-radius: 21px;
        border: none;
        background-color: $black;
        font-weight: 600;
        padding: 6px 60px;
        cursor: pointer;
    }
}

.contact-slider{
    padding-bottom: 42px;
    &__link{
        position: relative;
        margin-bottom: 20px;
        padding: 0 3px;
        &:hover{
            .contact-slider__title{
                opacity: 1;
            }
        }
    }
    &__img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    &__title{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff, .6);
        color: $black;
        @extend %title-font;
        line-height: 22px;
        padding: 0 5px;
        text-align: center;
        opacity: 0;
        transition: all .5s ease;

    }
}